scripts/n8n-ingestion-workflow.json
{
  "name": "NSE Pulse — Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "subject:\"NSE Market Briefing\" is:unread"
        },
        "options": {}
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract email body, subject, and arrival timestamp.\n// With the Gmail Trigger's \"Simplify\" option ON (the default), n8n only returns\n// a short `snippet` preview — never the full body — which silently truncates the\n// email before the STRUCTURED DATA section. So this reads the raw Gmail API\n// message resource (returned when Simplify is OFF) directly: walk payload.parts\n// for a text/plain part (falling back to text/html), base64url-decode it, and\n// only fall back to the simplified fields/snippet if no raw payload is present.\nconst msg = items[0].json;\nconst subject = (msg.payload?.headers || []).find(h => h.name === 'Subject')?.value || msg.subject || '';\nconst arrivalTs = msg.internalDate ? new Date(Number(msg.internalDate)).toISOString() : (msg.date || new Date().toISOString());\n\nfunction b64urlDecode(data) {\n  if (!data) return '';\n  return Buffer.from(data.replace(/-/g, '+').replace(/_/g, '/'), 'base64').toString('utf8');\n}\n\nfunction findPart(payload, mimeType) {\n  if (!payload) return null;\n  if (payload.mimeType === mimeType && payload.body?.data) return payload.body.data;\n  for (const part of payload.parts || []) {\n    const found = findPart(part, mimeType);\n    if (found) return found;\n  }\n  return null;\n}\n\nlet body = '';\nif (msg.payload) {\n  const plainData = findPart(msg.payload, 'text/plain');\n  if (plainData) {\n    body = b64urlDecode(plainData);\n  } else {\n    const htmlData = findPart(msg.payload, 'text/html');\n    if (htmlData) body = b64urlDecode(htmlData).replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  }\n}\n\n// Fallbacks for n8n's simplified-mode field names, in case Simplify stays ON.\nif (!body && msg.text) body = msg.text;\nelse if (!body && msg.textHtml) body = msg.textHtml.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\nelse if (!body && msg.html) body = msg.html.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\nelse if (!body && msg.snippet) body = msg.snippet;\n\nif (!body || body.trim().length < 50) {\n  throw new Error(`PARSE_FAIL: Email body too short or empty. Subject: ${subject}, Arrival: ${arrivalTs}`);\n}\n\nreturn [{ json: { body, subject, arrivalTs } }];"
      },
      "id": "extract-body",
      "name": "Extract Email Body",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract the fenced ```json STRUCTURED DATA block ChatGPT emits directly in the\n// email (see the scheduled prompt), and JSON.parse it. No AI call anywhere in this\n// workflow — ChatGPT already produces schema-shaped JSON upstream.\n// Keep this logic in sync with assets/js/lib/extract-json.js (n8n Function nodes\n// cannot `import` repo files, so this is a byte-equivalent inline copy).\nconst { body, subject, arrivalTs } = items[0].json;\n\nfunction extractFirstBalancedObject(text) {\n  const start = text.indexOf('{');\n  if (start === -1) return null;\n  let depth = 0, inString = false, escaped = false;\n  for (let i = start; i < text.length; i++) {\n    const ch = text[i];\n    if (inString) {\n      if (escaped) escaped = false;\n      else if (ch === '\\\\') escaped = true;\n      else if (ch === '\"') inString = false;\n      continue;\n    }\n    if (ch === '\"') { inString = true; continue; }\n    if (ch === '{') depth++;\n    else if (ch === '}') { depth--; if (depth === 0) return text.slice(start, i + 1); }\n  }\n  return null;\n}\n\n// Mail transfer agents / plain-text rendering commonly hard-wrap long lines,\n// which can inject a raw newline in the middle of a JSON string value — JSON.parse\n// rejects that as a bad control character. Collapse it to a space instead of failing.\nfunction sanitizeStringNewlines(text) {\n  let result = '';\n  let inString = false, escaped = false;\n  for (let i = 0; i < text.length; i++) {\n    const ch = text[i];\n    if (inString) {\n      if (escaped) { escaped = false; result += ch; continue; }\n      if (ch === '\\\\') { escaped = true; result += ch; continue; }\n      if (ch === '\"') { inString = false; result += ch; continue; }\n      result += (ch === '\\n' || ch === '\\r') ? ' ' : ch;\n      continue;\n    }\n    if (ch === '\"') inString = true;\n    result += ch;\n  }\n  return result;\n}\n\nfunction extractJsonBlock(rawText) {\n  if (typeof rawText !== 'string') return null;\n  const fenced = rawText.match(/```json\\s*([\\s\\S]*?)```/i);\n  const candidate = fenced ? fenced[1].trim() : extractFirstBalancedObject(rawText);\n  return candidate === null ? null : sanitizeStringNewlines(candidate);\n}\n\nconst jsonText = extractJsonBlock(body);\nif (!jsonText) {\n  return [{ json: { valid: false, error: 'PARSE_FAIL', message: 'No JSON block found in email body', subject, arrivalTs } }];\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonText);\n} catch (e) {\n  return [{ json: { valid: false, error: 'PARSE_FAIL', message: e.message, subject, arrivalTs } }];\n}\n\nreturn [{ json: { parsed, subject, arrivalTs } }];"
      },
      "id": "extract-json-block",
      "name": "Extract JSON Block",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Validate the extracted briefing against the Per-Day JSON Schema (v1 + v2 fields).\n// Keep the structural checks here in sync with assets/js/lib/schema.js's\n// validateBriefing/normalizeBriefing (n8n Function nodes cannot import that file).\nconst input = items[0].json;\nconst { subject, arrivalTs } = input;\n\n// Pass through an upstream extraction failure unchanged.\nif (input.valid === false) return [{ json: input }];\n\nconst parsed = input.parsed;\nconst { meta, summary, triggers, deep_dive, outlook, prediction_result } = parsed || {};\n\nif (!meta?.date || !/^\\d{4}-\\d{2}-\\d{2}$/.test(meta.date)) {\n  return [{ json: { valid: false, error: 'SCHEMA_FAIL', message: 'meta.date missing or invalid', subject, arrivalTs } }];\n}\nif (!['Trading','Holiday'].includes(meta.session_status)) {\n  return [{ json: { valid: false, error: 'SCHEMA_FAIL', message: 'meta.session_status invalid', subject, arrivalTs } }];\n}\nif (!summary || !triggers || !deep_dive || !outlook || !prediction_result) {\n  return [{ json: { valid: false, error: 'SCHEMA_FAIL', message: 'Missing top-level keys', subject, arrivalTs } }];\n}\nif (!Array.isArray(outlook.scenarios) || outlook.scenarios.length < 1 || outlook.scenarios.length > 5) {\n  return [{ json: { valid: false, error: 'SCHEMA_FAIL', message: 'outlook.scenarios must be 1-5 items', subject, arrivalTs } }];\n}\nfor (const s of outlook.scenarios) {\n  if (s.probability < 0 || s.probability > 100) {\n    return [{ json: { valid: false, error: 'SCHEMA_FAIL', message: `scenario probability out of range: ${s.probability}`, subject, arrivalTs } }];\n  }\n  if (s.range_low > s.range_high) {\n    return [{ json: { valid: false, error: 'SCHEMA_FAIL', message: `range_low > range_high in scenario: ${s.name}`, subject, arrivalTs } }];\n  }\n}\n\n// Default v1+v2 fields to null/[] if ChatGPT ever omits them, mirroring normalizeBriefing,\n// so nothing downstream (merge, site rendering) ever sees an undefined key.\nmeta.sources = Array.isArray(meta.sources) ? meta.sources : [];\nsummary.sectors = summary.sectors || {};\nsummary.sectors.leaders = Array.isArray(summary.sectors.leaders) ? summary.sectors.leaders : [];\nsummary.sectors.laggards = Array.isArray(summary.sectors.laggards) ? summary.sectors.laggards : [];\nsummary.key_gainers = Array.isArray(summary.key_gainers) ? summary.key_gainers : [];\nsummary.key_losers = Array.isArray(summary.key_losers) ? summary.key_losers : [];\nsummary.macro = summary.macro || {};\nfor (const k of ['brent_crude', 'india_10y_yield', 'usd_inr', 'gold', 'india_vix', 'us_10y_yield']) {\n  if (summary.macro[k] === undefined) summary.macro[k] = null;\n}\nsummary.global_indices = Array.isArray(summary.global_indices) ? summary.global_indices : [];\ntriggers.domestic = Array.isArray(triggers.domestic) ? triggers.domestic : [];\ntriggers.global = Array.isArray(triggers.global) ? triggers.global : [];\ndeep_dive.summary_takeaway = deep_dive.summary_takeaway === undefined ? null : deep_dive.summary_takeaway;\noutlook.support_levels = Array.isArray(outlook.support_levels) ? outlook.support_levels : [];\noutlook.resistance_levels = Array.isArray(outlook.resistance_levels) ? outlook.resistance_levels : [];\noutlook.key_watch = Array.isArray(outlook.key_watch) ? outlook.key_watch : [];\n\nreturn [{ json: { valid: true, briefing: parsed, date: meta.date, subject, arrivalTs } }];"
      },
      "id": "schema-validate",
      "name": "Validate Schema",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "branch-valid",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// --- resilient GitHub-helper accessors (n8n sandbox quirks; see below) ---\n// httpRequest: $helpers.httpRequest can be undefined/unbound on some n8n builds\n// (a long-standing sandbox bug). this.helpers.httpRequest is the reliable form,\n// so prefer it and only fall back to $helpers.httpRequest.\nconst httpRequest = (this && this.helpers && this.helpers.httpRequest)\n  ? this.helpers.httpRequest.bind(this.helpers)\n  : $helpers.httpRequest;\n// Token: $env is the reliable accessor for env vars inside the Code/Function\n// sandbox; process.env is blocked (returns undefined) on n8n Cloud and when\n// N8N_BLOCK_ENV_ACCESS_IN_NODE is set. Read via $env, fall back to process.env.\nconst GITHUB_TOKEN = (typeof $env !== 'undefined' && $env.GITHUB_TOKEN)\n  ? $env.GITHUB_TOKEN\n  : process.env.GITHUB_TOKEN;\n\n// Check whether data/briefings/{date}.json already exists — drives the merge\n// step next, so a duplicate/repeat email never overwrites data already captured\n// (including a prediction_result the Prediction_Tracker workflow may have written).\nconst { date } = items[0].json;\n\n// NOTE: never let a raw error from $helpers.httpRequest (or any library call)\n// escape this function uncaught. n8n's legacy Function node has a bug in its own\n// error formatter (Function.node.ts) that crashes with \"Cannot read properties\n// of undefined (reading 'split')\" whenever the real error's stack trace doesn't\n// contain the literal word \"Function\" — which hides the actual failure. Always\n// catch and re-throw a fresh `new Error(...)` built right here instead, so a\n// normal, readable message and stack always reach n8n's execution log.\nfunction isNotFoundError(e) {\n  const code = e?.httpCode ?? e?.statusCode ?? e?.response?.status ?? e?.response?.statusCode ?? e?.cause?.response?.status;\n  return String(code) === '404';\n}\nfunction asObject(res) {\n  return typeof res === 'string' ? JSON.parse(res) : res;\n}\n\nlet existing = null;\nlet sha = null;\ntry {\n  const raw = await httpRequest({\n    method: 'GET',\n    url: `https://api.github.com/repos/bmdeshmukh18/briefing/contents/data/briefings/${date}.json`,\n    headers: {\n      'Authorization': `Bearer ${GITHUB_TOKEN}`,\n      'Accept': 'application/vnd.github.v3+json'\n    },\n    json: true\n  });\n  const res = asObject(raw);\n  sha = res.sha;\n  existing = JSON.parse(Buffer.from(res.content, 'base64').toString());\n} catch (e) {\n  if (!isNotFoundError(e)) throw new Error(`GitHub GET failed for data/briefings/${date}.json: ${e?.message || e}`);\n}\n\nreturn [{ json: { ...items[0].json, existing, sha } }];"
      },
      "id": "get-existing-briefing",
      "name": "Get Existing Briefing",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// Fill-only-nulls merge: keep every already-present field in 'existing' as-is,\n// only fill fields that are null/empty there from 'incoming'. Never touches\n// prediction_result (owned exclusively by the Prediction_Tracker workflow).\n// Keep this logic in sync with assets/js/lib/core.js's mergeBriefing.\nconst { briefing: incoming, existing, sha, date } = items[0].json;\n\nfunction isEmptyValue(v) {\n  return v === null || v === undefined || (Array.isArray(v) && v.length === 0);\n}\nfunction mergeScalar(e, i) {\n  return isEmptyValue(e) && !isEmptyValue(i) ? i : e;\n}\nfunction mergeField(eo, io, key) {\n  return mergeScalar(eo?.[key], io?.[key]);\n}\nfunction mergeBriefing(e, i) {\n  if (!e) return i;\n  if (!i) return e;\n  return {\n    meta: {\n      date: e.meta?.date ?? i.meta?.date ?? null,\n      session_status: e.meta?.session_status ?? i.meta?.session_status ?? null,\n      market_tone: mergeField(e.meta, i.meta, 'market_tone'),\n      sources: mergeScalar(e.meta?.sources, i.meta?.sources) ?? [],\n    },\n    summary: {\n      nifty50: { close: mergeField(e.summary?.nifty50, i.summary?.nifty50, 'close'), change_pct: mergeField(e.summary?.nifty50, i.summary?.nifty50, 'change_pct') },\n      sensex: { close: mergeField(e.summary?.sensex, i.summary?.sensex, 'close'), change_pct: mergeField(e.summary?.sensex, i.summary?.sensex, 'change_pct') },\n      broader_market: { smallcap_pct: mergeField(e.summary?.broader_market, i.summary?.broader_market, 'smallcap_pct'), midcap_pct: mergeField(e.summary?.broader_market, i.summary?.broader_market, 'midcap_pct') },\n      breadth: { nifty500_advances: mergeField(e.summary?.breadth, i.summary?.breadth, 'nifty500_advances'), nifty500_declines: mergeField(e.summary?.breadth, i.summary?.breadth, 'nifty500_declines') },\n      sectors: {\n        leaders: mergeScalar(e.summary?.sectors?.leaders, i.summary?.sectors?.leaders) ?? [],\n        laggards: mergeScalar(e.summary?.sectors?.laggards, i.summary?.sectors?.laggards) ?? [],\n        count_advanced: mergeField(e.summary?.sectors, i.summary?.sectors, 'count_advanced'),\n      },\n      key_gainers: mergeScalar(e.summary?.key_gainers, i.summary?.key_gainers) ?? [],\n      key_losers: mergeScalar(e.summary?.key_losers, i.summary?.key_losers) ?? [],\n      institutional_flows: { fii_net_cr: mergeField(e.summary?.institutional_flows, i.summary?.institutional_flows, 'fii_net_cr'), dii_net_cr: mergeField(e.summary?.institutional_flows, i.summary?.institutional_flows, 'dii_net_cr') },\n      macro: {\n        brent_crude: mergeField(e.summary?.macro, i.summary?.macro, 'brent_crude'),\n        india_10y_yield: mergeField(e.summary?.macro, i.summary?.macro, 'india_10y_yield'),\n        usd_inr: mergeField(e.summary?.macro, i.summary?.macro, 'usd_inr'),\n        gold: mergeField(e.summary?.macro, i.summary?.macro, 'gold'),\n        india_vix: mergeField(e.summary?.macro, i.summary?.macro, 'india_vix'),\n        us_10y_yield: mergeField(e.summary?.macro, i.summary?.macro, 'us_10y_yield'),\n      },\n      global_indices: mergeScalar(e.summary?.global_indices, i.summary?.global_indices) ?? [],\n    },\n    triggers: {\n      domestic: mergeScalar(e.triggers?.domestic, i.triggers?.domestic) ?? [],\n      global: mergeScalar(e.triggers?.global, i.triggers?.global) ?? [],\n    },\n    deep_dive: {\n      full_text: mergeField(e.deep_dive, i.deep_dive, 'full_text'),\n      summary_takeaway: mergeField(e.deep_dive, i.deep_dive, 'summary_takeaway'),\n    },\n    outlook: {\n      base_case: mergeField(e.outlook, i.outlook, 'base_case'),\n      scenarios: mergeScalar(e.outlook?.scenarios, i.outlook?.scenarios) ?? [],\n      support_levels: mergeScalar(e.outlook?.support_levels, i.outlook?.support_levels) ?? [],\n      resistance_levels: mergeScalar(e.outlook?.resistance_levels, i.outlook?.resistance_levels) ?? [],\n      key_watch: mergeScalar(e.outlook?.key_watch, i.outlook?.key_watch) ?? [],\n    },\n    prediction_result: e.prediction_result,\n    admin_notes: e.admin_notes ?? i.admin_notes ?? null,\n  };\n}\n\nconst isNew = !existing;\nconst finalBriefing = isNew ? incoming : mergeBriefing(existing, incoming);\n\nreturn [{ json: { briefing: finalBriefing, date, sha, isNew } }];"
      },
      "id": "merge-if-exists",
      "name": "Merge If Exists",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1520,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// Prepare GitHub API call — encode the final (new or merged) briefing as base64\nconst { briefing, date, sha, isNew } = items[0].json;\nconst content = Buffer.from(JSON.stringify(briefing, null, 2)).toString('base64');\nreturn [{ json: { date, content, path: `data/briefings/${date}.json`, sha, isNew } }];"
      },
      "id": "prep-commit",
      "name": "Prepare Commit Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1740,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// Commit (create) or update-in-place (merge) the briefing file via GitHub API\nconst { date, content, path, sha, isNew } = items[0].json;\n\nconst body = {\n  message: isNew ? `Publish briefing for ${date}` : `Merge briefing update for ${date}`,\n  content,\n  branch: 'main'\n};\nif (sha) body.sha = sha;\n\nreturn [{ json: { date, path, isNew, body: JSON.stringify(body) } }];"
      },
      "id": "prep-github-body",
      "name": "Prep GitHub Body",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1960,
        200
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/bmdeshmukh18/briefing/contents/data/briefings/{{ $node['Prepare Commit Data'].json.date }}.json",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "commit-briefing",
      "name": "Commit Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2180,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// --- resilient GitHub-helper accessors (n8n sandbox quirks; see below) ---\n// httpRequest: $helpers.httpRequest can be undefined/unbound on some n8n builds\n// (a long-standing sandbox bug). this.helpers.httpRequest is the reliable form,\n// so prefer it and only fall back to $helpers.httpRequest.\nconst httpRequest = (this && this.helpers && this.helpers.httpRequest)\n  ? this.helpers.httpRequest.bind(this.helpers)\n  : $helpers.httpRequest;\n// Token: $env is the reliable accessor for env vars inside the Code/Function\n// sandbox; process.env is blocked (returns undefined) on n8n Cloud and when\n// N8N_BLOCK_ENV_ACCESS_IN_NODE is set. Read via $env, fall back to process.env.\nconst GITHUB_TOKEN = (typeof $env !== 'undefined' && $env.GITHUB_TOKEN)\n  ? $env.GITHUB_TOKEN\n  : process.env.GITHUB_TOKEN;\n\n// Update index.json — idempotent: no-op if the date is already listed.\nconst date = $node['Prepare Commit Data'].json.date;\n\n// NOTE: never let a raw error from $helpers.httpRequest (or any library call)\n// escape this function uncaught. n8n's legacy Function node has a bug in its own\n// error formatter (Function.node.ts) that crashes with \"Cannot read properties\n// of undefined (reading 'split')\" whenever the real error's stack trace doesn't\n// contain the literal word \"Function\" — which hides the actual failure. Always\n// catch and re-throw a fresh `new Error(...)` built right here instead, so a\n// normal, readable message and stack always reach n8n's execution log.\nfunction isNotFoundError(e) {\n  const code = e?.httpCode ?? e?.statusCode ?? e?.response?.status ?? e?.response?.statusCode ?? e?.cause?.response?.status;\n  return String(code) === '404';\n}\nfunction asObject(res) {\n  return typeof res === 'string' ? JSON.parse(res) : res;\n}\n\nlet indexSha = null;\nlet currentDates = [];\ntry {\n  const raw = await httpRequest({\n    method: 'GET',\n    url: 'https://api.github.com/repos/bmdeshmukh18/briefing/contents/data/index.json',\n    headers: { 'Authorization': `Bearer ${GITHUB_TOKEN}`, 'Accept': 'application/vnd.github.v3+json' },\n    json: true\n  });\n  const indexRes = asObject(raw);\n  indexSha = indexRes.sha;\n  currentDates = JSON.parse(Buffer.from(indexRes.content, 'base64').toString()).dates || [];\n} catch (e) {\n  if (!isNotFoundError(e)) throw new Error(`GitHub GET failed for data/index.json: ${e?.message || e}`);\n}\n\nif (!currentDates.includes(date)) {\n  currentDates = [...currentDates, date].sort();\n}\n\nconst newContent = Buffer.from(JSON.stringify({ dates: currentDates }, null, 2)).toString('base64');\nconst body = { message: `Update index for ${date}`, content: newContent, branch: 'main' };\nif (indexSha) body.sha = indexSha;\n\ntry {\n  await httpRequest({\n    method: 'PUT',\n    url: 'https://api.github.com/repos/bmdeshmukh18/briefing/contents/data/index.json',\n    headers: { 'Authorization': `Bearer ${GITHUB_TOKEN}`, 'Content-Type': 'application/json', 'Accept': 'application/vnd.github.v3+json' },\n    body: JSON.stringify(body)\n  });\n} catch (e) {\n  throw new Error(`GitHub PUT failed for data/index.json: ${e?.message || e}`);\n}\n\nreturn [{ json: { success: true, date } }];"
      },
      "id": "update-index",
      "name": "Update index.json",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2400,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// --- resilient GitHub-helper accessors (n8n sandbox quirks; see below) ---\n// httpRequest: $helpers.httpRequest can be undefined/unbound on some n8n builds\n// (a long-standing sandbox bug). this.helpers.httpRequest is the reliable form,\n// so prefer it and only fall back to $helpers.httpRequest.\nconst httpRequest = (this && this.helpers && this.helpers.httpRequest)\n  ? this.helpers.httpRequest.bind(this.helpers)\n  : $helpers.httpRequest;\n// Token: $env is the reliable accessor for env vars inside the Code/Function\n// sandbox; process.env is blocked (returns undefined) on n8n Cloud and when\n// N8N_BLOCK_ENV_ACCESS_IN_NODE is set. Read via $env, fall back to process.env.\nconst GITHUB_TOKEN = (typeof $env !== 'undefined' && $env.GITHUB_TOKEN)\n  ? $env.GITHUB_TOKEN\n  : process.env.GITHUB_TOKEN;\n\n// Update history.json — upsertHistoryRow semantics: replace-not-append by date.\nconst date = $node['Prepare Commit Data'].json.date;\nconst briefing = $node['Merge If Exists'].json.briefing;\n\nconst newRow = {\n  date,\n  nifty_close: briefing.summary?.nifty50?.close ?? null,\n  nifty_change_pct: briefing.summary?.nifty50?.change_pct ?? null,\n  fii_net_cr: briefing.summary?.institutional_flows?.fii_net_cr ?? null,\n  dii_net_cr: briefing.summary?.institutional_flows?.dii_net_cr ?? null,\n  advances: briefing.summary?.breadth?.nifty500_advances ?? null,\n  declines: briefing.summary?.breadth?.nifty500_declines ?? null\n};\n\n// NOTE: never let a raw error from $helpers.httpRequest (or any library call)\n// escape this function uncaught. n8n's legacy Function node has a bug in its own\n// error formatter (Function.node.ts) that crashes with \"Cannot read properties\n// of undefined (reading 'split')\" whenever the real error's stack trace doesn't\n// contain the literal word \"Function\" — which hides the actual failure. Always\n// catch and re-throw a fresh `new Error(...)` built right here instead, so a\n// normal, readable message and stack always reach n8n's execution log.\nfunction isNotFoundError(e) {\n  const code = e?.httpCode ?? e?.statusCode ?? e?.response?.status ?? e?.response?.statusCode ?? e?.cause?.response?.status;\n  return String(code) === '404';\n}\nfunction asObject(res) {\n  return typeof res === 'string' ? JSON.parse(res) : res;\n}\n\nlet histSha = null;\nlet series = [];\ntry {\n  const raw = await httpRequest({\n    method: 'GET',\n    url: 'https://api.github.com/repos/bmdeshmukh18/briefing/contents/data/history.json',\n    headers: { 'Authorization': `Bearer ${GITHUB_TOKEN}`, 'Accept': 'application/vnd.github.v3+json' },\n    json: true\n  });\n  const histRes = asObject(raw);\n  histSha = histRes.sha;\n  series = JSON.parse(Buffer.from(histRes.content, 'base64').toString()).series || [];\n} catch (e) {\n  if (!isNotFoundError(e)) throw new Error(`GitHub GET failed for data/history.json: ${e?.message || e}`);\n}\n\nseries = [...series.filter(r => r.date !== date), newRow].sort((a,b) => a.date < b.date ? -1 : 1);\n\nconst newContent = Buffer.from(JSON.stringify({ series }, null, 2)).toString('base64');\nconst body = { message: `Update history for ${date}`, content: newContent, branch: 'main' };\nif (histSha) body.sha = histSha;\n\ntry {\n  await httpRequest({\n    method: 'PUT',\n    url: 'https://api.github.com/repos/bmdeshmukh18/briefing/contents/data/history.json',\n    headers: { 'Authorization': `Bearer ${GITHUB_TOKEN}`, 'Content-Type': 'application/json', 'Accept': 'application/vnd.github.v3+json' },\n    body: JSON.stringify(body)\n  });\n} catch (e) {\n  throw new Error(`GitHub PUT failed for data/history.json: ${e?.message || e}`);\n}\n\nreturn [{ json: { success: true, date } }];"
      },
      "id": "update-history",
      "name": "Update history.json",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2620,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ NSE Pulse — {{ $node['Prepare Commit Data'].json.isNew ? 'published' : 'merged update for' }} {{ $node['Prepare Commit Data'].json.date }}.\n{{ $node['Prepare Commit Data'].json.isNew ? 'New briefing file created.' : 'Existing file updated — only previously-missing fields (e.g. FII/DII) were filled in; nothing already present was overwritten.' }}",
        "additionalFields": {}
      },
      "id": "notify-success",
      "name": "Notify Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2840,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=❌ NSE Pulse — Parse failed.\nSubject: {{ $json.subject }}\nArrival: {{ $json.arrivalTs }}\nError: {{ $json.message }}\n\nThe Data Store was NOT modified.",
        "additionalFields": {}
      },
      "id": "notify-parse-fail",
      "name": "Notify Parse Failure",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=❌ NSE Pulse — Schema validation failed.\nSubject: {{ $json.subject }}\nArrival: {{ $json.arrivalTs }}\nError: {{ $json.message }}\n\nThe Data Store was NOT modified.",
        "additionalFields": {}
      },
      "id": "notify-schema-fail",
      "name": "Notify Schema Failure",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1300,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "value2": "PARSE_FAIL"
            }
          ]
        }
      },
      "id": "branch-failure-type",
      "name": "Failure Type?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1080,
        460
      ]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Body": {
      "main": [
        [
          {
            "node": "Extract JSON Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON Block": {
      "main": [
        [
          {
            "node": "Validate Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Schema": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Get Existing Briefing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Type?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Briefing": {
      "main": [
        [
          {
            "node": "Merge If Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge If Exists": {
      "main": [
        [
          {
            "node": "Prepare Commit Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Commit Data": {
      "main": [
        [
          {
            "node": "Prep GitHub Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep GitHub Body": {
      "main": [
        [
          {
            "node": "Commit Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Briefing": {
      "main": [
        [
          {
            "node": "Update index.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update index.json": {
      "main": [
        [
          {
            "node": "Update history.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update history.json": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failure Type?": {
      "main": [
        [
          {
            "node": "Notify Parse Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Schema Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "NSE Pulse — Error Notifier"
  },
  "versionId": "8"
}
